*:focus {
  outline: none;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Dosis', sans-serif;
}

#index {
  background: url(../img/san_down.jpg) no-repeat center center fixed;
  background-color: #333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

#portfolio {
  background: url(../img/san_tall.jpg) no-repeat center center fixed;
  background-color: #333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

#contact {
  background: url(../img/bg_townhome.jpg) no-repeat center center fixed;
  background-color: #333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

#sent_mail {
  background: #d14747;
  color: #fff;
}

.container-fluid {
  padding: 0 !important;
}

/**************************************************************** ROLL OUT NAV*/

.show_nav, .hide_nav {
  position: fixed;
  top: 40px;
  right: 50px;
  z-index: 10001;
}

.show_nav span, .hide_nav span {
  font-size: 24px;
  color: rgba(24, 24, 24, 0.3);
}

.show_nav span:hover, .hide_nav span:hover {
  cursor: pointer;
  color: #d14747;
}

.hide_nav {
  display: none;
}

.top_bar {
  position: fixed;
  top: 0;
  right: -3000px;
  height: 100px;
  width: 90%;
  background: url('../img/stardust.png');
  padding: 8px 32px;
  overflow: hidden;
  box-shadow: 2px 2px 4px #777;
}

.thanks {
  float: left;
  color: #fff;
  margin-left: 40px;
}

.thanks h2 {
  font-size: 36px;
  margin-bottom: 0;
  margin-top: 10px;
}

.social i {
  opacity: .8;
  float: right;
  color: #fff;
  font-size: 40px;
  margin: 24px;
}

.social i:hover {
  color: #7FC6DB;
}

/************************************************************** NAV BAR BOTTOM*/

.nav_bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 20px;
  padding-right: 32px;
  z-index: 1001;
}

.selected {
  background: rgba(209, 71, 71, 0.7);
  margin: 0;
  color: #fff;
}

.nav_bottom p {
  float: left;
  padding-left: 32px;
  color: rgba(255, 255, 255, 0.5);;
}

.nav_bottom ul {
  text-align: right;
  float: right;
}

.nav_bottom li {
  text-decoration: none;
  list-style: none;
  display: inline;
}

.nav_bottom a {
  color: #fff;
  padding: 2px 6px;
  margin-right: 16px;
  text-transform: uppercase;
}

.nav_bottom a:hover {
  color: #7FC6DB;
  text-decoration: none;
}

.selected:hover {
  color: #fff !important;
}

/************************************************************ SIDE NAV ARROWS */

.port_page, .contact_page {
  position: fixed;
  top: 40%;
  right: 32px;
}

.port_page a, .contact_page a, .about_page a, .port_page_left a {
  color: rgba(255, 255, 255, 0.65);
  font-size: 32px;
}

.port_display, .contact_display {
  position: absolute;
  right: 32px;
  top: 45%;
  display: none;
  z-index: 1001;
}

.port_display h2, .contact_display h2, .about_display h2, .port_display_left h2 {
  color: rgba(209, 71, 71, 0.7);
  font-size: 88px;
  z-index: 1000;
}

.about_page, .port_page_left {
  position: fixed;
  top: 40%;
  left: 32px;
}

.about_display, .port_display_left {
  position: absolute;
  left: 32px;
  top: 45%;
  display: none;
  z-index: 1001;
}

/***************************************************************** ABOUT PAGE */

.hero {
  position: relative;
  margin: 0 auto;
  background: rgba(9, 9, 9, 0.7);
  border-radius: 10px;
  text-align: center;
  padding: 32px 0;
  color: #fff;
}

.hero img {
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  border-radius: 50%;
  background: #ccc;
  margin: auto;
}

.hero h1, .hero h2, .about_button {
  text-transform: uppercase;
}

.hero h1 {
  font-size: 24px;
  margin-top: 24px;
}

.hero h2 {
  font-size: 16px;
  margin: 24px 0 2px 0;
  word-wrap: break-word;
}

.moc span {
  font-size: 64px;
}

.about_button {
  margin-top: 24px;
  border: none;
  border-radius: 5px;
  padding: 8px 48px;
  background: #d14747;
  color: #fff;
}

.about_button:hover {
  transition: 0.3s ease-in-out;
  background: #bc3f3f;
}

/*ABOUT PANEL*/

.about {
  position: relative;
  margin: 0 auto;
  top: -2000px;
  background: #d14747;
  color: #fff;
  width: 60%;
  padding: 48px 24px 24px;
  border-radius: 10px;
  text-align: center;
  overflow-y: scroll;
  font-size: 18px;
}

.about p {
  text-align: center;
}

.remove {
  font-size: 32px;
  margin-top: 24px;
  transition: all 0.8s ease-in-out 0s;
}

.remove:hover {
  cursor: pointer;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/************************************************************** PORTFOLIO PAGE*/

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  width: 80%;
  margin: 72px auto 24px;
  overflow: hidden;
  padding: 8px 16px 16px;
  text-align: center;
  position: relative;
}

.wrapper img {
  position: relative;
  text-align: center;
  z-index: -1;
  padding-top: 8px;
}

.wrapper h2 {
  text-align: left;
  padding-bottom: 0;
}

.work_heading {
  color: #fff;
  font-size: 32px;
  margin: 24px 0 0 32px;
}

.work {
  width: 60%;
  float: left;
  padding-top: 24px;
}

.work img {
  width: 350px;
  height: auto;
}

aside {
  float: right;
  width: 30%;
  height: 560px;
  text-align: left;
  position: relative;
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  margin-top: -2.5%;
  z-index: -1;
  text-align: center;
}

.aside_selected {
  color: #d14747;
  font-size: 24px;
}

.aside_selected:hover {
  color: #d14747;
}

.col-md-4 {
  margin: 0 auto;
}

.row_2 {
  padding-top: 32px;
}

.moc img {
  max-height: 250px;
  border-radius: 5px;
  margin-left: 40px;
}

.display_toolbelt, .display_environment {
  display: none;
}

/**************************************************************** CONTACT PAGE*/

.contact_info {
  position: fixed;
  bottom: 20px;
  left: 88px;
  background: rgba(0, 0, 0, 0.5);
  width: 400px;
  padding: 64px 0;
}

.contact_info h3 {
  color: #fff;
  margin: 0;
  padding-left: 40px;
}

.say_hello {
  margin: 0 auto;
}

.say_hello h3 {
  display: inline-block;
  font-size: 48px;
  margin-top: 24px;
}

.say_hello input {
  padding: 8px 24px;
  border-radius: 5px;
  border: 1px solid #fff;
  width: 80%;
  margin: 8px 40px;
  font-size: 18px;
}

#submit {
  border: none;
  background: #d14747;
  color: #fff;
}

#submit:hover {
  transition: 0.3s ease-in-out;
  background: #bc3f3f;
}

/***************************************************************** CONTACT PHP*/

.thanks_php {
  width: 300px;
  margin: 88px auto;
  text-align: center;
}

/********************************************************************* @MEDIA */

@media (min-width: 1401px) {
  .hero img {
    width: 200px;
    height: 200px;
  }

  .hero {
    width: 300px;
    top: 180px;
  }

  aside {
    height: 710px;
  }
}

@media (max-width: 1400px) {
  .hero {
    top: 100px;
    width: 250px;
  }

  .hero img {
    width: 150px;
    height: 150px;
  }

  .about {
    width: 80%;
  }
}

@media (max-width: 990px) {
  aside {
    float: none;
    clear: both;
    width: 100%;
    height: 620px;
  }

  .work {
    width: 100%;
    margin-bottom: 80px;
  }
}

@media (max-width: 520px) {
  .show_nav, .hide_nav {
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .top_bar {
    height: 60px;
    padding-right: 8px;
    width: 88%;
  }

  .thanks {
    margin-left: 0;
  }

  .thanks h2 {
    font-size: 24px;
    margin-top: 2px;
  }

  .thanks p {
    font-size: 8px;
  }

  .social i {
    font-size: 24px;
    margin: 4px;
  }

  .about {
    width: 90%;
    margin-bottom: 32px;
  }

  .nav_bottom p{
    display: none;
  }

  .nav_bottom ul{
    padding: 0;
  }

  .hero {
    top: 60px;
    width: 250px;
  }

  .hero img {
    width: 150px;
    height: 150px;
  }

  .port_page, .contact_page, .about_page, .port_page_left {
    display: none;
  }

  /*PORTFILIO PAGE */
  .wrapper {
    width: 100%;
  }

  /*CONTACT PAGE*/

  .contact_info {
    width: 320px;
    left: 8px;
  }
}
