.back-to-portfolio {
  margin-top: 8px;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.back-to-portfolio span {
  font-size: 1.2em;
}

.back-to-portfolio a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
