* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #32ADFF;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 68px;
  margin-top: 40px;
}

#calc {
  width: 200px;
  padding: 8px 8px 48px;
  margin: 80px auto;
  border: 4px solid #fff;
  overflow: hidden;
  border-radius: 5px;
}

#displayField {
  margin: 32px auto 40px;
  width: 98%;
  height: 26px;
  background: #fff;
  border-radius: 2px;
  text-align: right;
  padding: 4px;
  overflow-x: scroll;
  color: #333;
}

.container button {
  float: left;
  width: 40px;
  height: 20px;
  border: none;
  margin: 4px 2px;
  background: #fff;
  color: #32ADFF;
  font-size: 14px;
  border-radius: 2px;
}

.container button:focus {
  outline: none;
  border: 2px solid orange;
}

.hide {
  visibility: hidden;
}

@media (max-width: 480px) {
  #calc {
    margin-top: 24px;
  }
}
